* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "UHC 2020 Sans Regular", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  width: 100%;
  overflow-x: hidden;
  background-color: lightblue;
  color: #333333;
}

::-moz-selection {
  background: #dadada;
  /* WebKit/Blink Browsers */
}

::selection {
  background: #dadada;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #dadada;
  /* Gecko Browsers */
}

.lni, .fas {
  color: #dadada;
}

.card {
  margin-bottom: 32px;
  padding: 32px 16px;
  border: none;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 2px 4px 0px rgba(51, 51, 51, 0.05);
}

@media (min-width: 62rem) {
  .card {
    padding: 32px;
  }
}
@font-face {
  font-family: "UHC 2020 Sans Black";
  src: url("../fonts/UHC2020Sans-Black.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Black Italic";
  src: url("../fonts/UHC2020Sans-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Bold";
  src: url("../fonts/UHC2020Sans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Bold Italic";
  src: url("../fonts/UHC2020Sans-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Italic";
  src: url("../fonts/UHC2020Sans-Italic.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Medium";
  src: url("../fonts/UHC2020Sans-Medium.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Medium Italic";
  src: url("../fonts/UHC2020Sans-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Regular";
  src: url("../fonts/UHC2020Sans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Semi Bold";
  src: url("../fonts/UHC2020Sans-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "UHC 2020 Sans Semi Bold Italic";
  src: url("../fonts/UHC2020Sans-SemiBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "UHC Serif Headline Semi Bold";
  src: url("../fonts/UHCSerifHeadline-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "UHC Serif Headline Semi Bold Italic";
  src: url("../fonts/UHCSerifHeadline-SemiBoldItalic.otf") format("opentype");
}
h1, h2, h3, h4, h5, h6 {
  font-family: "UHC Serif Headline Semi Bold", sans-serif;
}

.h100 {
  font-size: 1.875rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 32px;
}
@media (min-width: 48rem) {
  .h100 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 62rem) {
  .h100 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.static100 {
  font-size: 1.875rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.h200 {
  font-size: 1.625rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 32px;
}
@media (min-width: 48rem) {
  .h200 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 62rem) {
  .h200 {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
}

.static200 {
  font-size: 1.625rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.h300 {
  font-size: 1.375rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
}
@media (min-width: 48rem) {
  .h300 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}
@media (min-width: 62rem) {
  .h300 {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}

.static300 {
  font-size: 1.375rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.h400 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
}
@media (min-width: 48rem) {
  .h400 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 62rem) {
  .h400 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}

.static400 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.h500 {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.h600 {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 16px;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

.lead {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.0225rem;
}

.small {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: -0.0175rem;
}

.micro {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: -0.015rem;
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.label-light {
  font-family: "UHC 2020 Sans Semi Bold";
  text-align: center;
  color: whitesmoke;
  margin-bottom: 0;
}

.label-dark {
  font-family: "UHC 2020 Sans Semi Bold";
  text-align: center;
  color: #333333;
  margin-bottom: 0;
}

.btn-primary {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: RGBA(0, 38, 119, 1);
  border: none;
  border-radius: 32px;
  height: 2.5rem;
  padding: 0 2rem;
  color: white;
}
.btn-primary:hover {
  background-color: RGBA(24, 110, 207, 1);
  color: white;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn-primary:active {
  background-color: #333333 !important;
}

.navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navButtons .navButton {
  border: 1px solid RGBA(0, 38, 119, 1);
  border-radius: 2rem;
  height: 1.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  background-color: white;
  width: 13.5rem;
  color: #002677;
  font-size: 14px;
  font-family: "UHC 2020 Sans Bold";
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #333333;
}
a:hover {
  color: #333333;
  text-decoration: none;
}

.bodyLink {
  background-color: whitesmoke;
  color: #333333;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.875rem;
}
.bodyLink:hover {
  background-color: whitesmoke;
  color: #333333;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.navLink {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
}
.navLink:hover {
  background-color: whitesmoke;
}
.navLink:focus {
  background-color: whitesmoke;
}

.footerLink p {
  text-align: left;
  color: whitesmoke;
}

nav {
  margin-bottom: 64px;
}
nav .desktopNav {
  display: none;
}
nav .mobileNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  background-color: RGBA(0, 38, 119, 1);
}
nav .mobileNav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 36rem) {
  nav .mobileNav .container {
    width: 33.75rem;
  }
}
@media (min-width: 48rem) {
  nav .mobileNav .container {
    width: 45rem;
  }
}
@media (min-width: 62rem) {
  nav .mobileNav {
    display: none;
  }
  nav .desktopNav {
    display: block;
  }
  nav .desktopNav .row {
    background-color: white;
  }
  nav .desktopNav .navUtilities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .desktopNav .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 62rem;
    height: 6rem;
    padding: 2rem;
    background-color: white;
  }
  nav .desktopNav .top .logo {
    height: 2.5rem;
  }
  nav .desktopNav .top a {
    margin-right: 0.5rem;
  }
  nav .desktopNav .top .lni, nav .desktopNav .top .fas {
    color: RGBA(0, 38, 119, 1);
    margin-right: 1rem;
  }
  nav .desktopNav .top .notification {
    color: RGBA(245, 183, 0, 1);
  }
  nav .desktopNav .bottom {
    height: 3rem;
    background-color: RGBA(0, 38, 119, 1);
  }
}
@media (min-width: 75rem) {
  nav .desktopNav .top {
    width: 71.25rem;
    padding: 1rem;
  }
}
.copyBlock {
  margin-bottom: 64px;
  text-align: center;
}
.copyBlock h1 {
  color: RGBA(0, 38, 119, 1);
}

.cardSignIn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  padding: 16px;
}

@media (min-width: 62rem) {
  .cardSignIn {
    width: 768px;
    margin-bottom: 128px;
    padding: 32px 16px;
  }
  .cardSignIn .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
  }
  .cardSignIn .links p {
    margin: 0 1rem 0 0;
  }
}
.cardWidget {
  margin-bottom: 120px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 62rem) {
  .cardWidget .formGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cardWidget .formGroupRadios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cardWidget .formGroupRadios p {
    margin-left: 8px;
  }
}
.footerAlt {
  width: 100%;
  padding: 32px;
  background-color: white;
}
.footerAlt .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footerAlt .links .lni,
.footerAlt .links .fas {
  margin-left: 8px;
}
.footerAlt a {
  margin-bottom: 16px;
  text-align: center;
  color: RGBA(24, 110, 207, 1);
}
.footerAlt a:hover {
  color: RGBA(0, 38, 119, 1);
}
.footerAlt .legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footerAlt .legal p {
  margin: 0 32px;
  margin-bottom: 32px;
  text-align: center;
  color: #333333;
}

@media (min-width: 62rem) {
  footer a {
    text-align: left;
  }
  footer .legal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .legal p {
    margin-bottom: 0;
  }
  footer .legal a {
    margin-right: 1rem;
    margin-bottom: 0;
  }
  footer .legal .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .legal .links p {
    margin-bottom: 0;
  }
}
.footer {
  width: 100%;
  padding: 32px;
  background-color: RGBA(0, 38, 119, 1);
}
.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  height: 2.5rem;
}
.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .links .lni,
.footer .links .fas {
  margin-left: 8px;
}
.footer a {
  margin-bottom: 16px;
  text-align: center;
  color: whitesmoke;
}
.footer a:hover {
  color: whitesmoke;
}
.footer hr {
  border-top: 1px solid rgba(245, 245, 245, 0.5);
  margin: 32px 0;
}
.footer .legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .legal p {
  margin: 0 32px;
  margin-bottom: 32px;
  text-align: center;
  color: whitesmoke;
}

@media (min-width: 62rem) {
  footer .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-right: 0;
    margin-left: 0;
  }
  footer a {
    text-align: left;
  }
  footer .legal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .legal p {
    margin-bottom: 0;
  }
  footer .legal a {
    margin-right: 1rem;
    margin-bottom: 0;
  }
  footer .legal .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.form {
  margin-bottom: 32px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
}

input:checked {
  border: 6px solid RGBA(24, 110, 207, 1);
}